atomicwrites==1.3.0
attrs==19.1.0
certifi==2019.6.16
chardet==3.0.4
Django==2.2.18
gunicorn==19.9.0
idna==2.8
importlib-metadata==0.18
more-itertools==7.0.0
mysql==0.0.2
mysql-connector==2.2.9
mysql-connector-python==8.0.17
mysqlclient==1.4.2.post1
numpy==1.17.0
packaging==19.0
pandas==0.24.2
pathlib2==2.3.4
pi==0.1.2
pluggy==0.12.0
protobuf==3.9.1
py==1.8.0
PyMySQL==0.9.3
pyparsing==2.4.0
pytest==4.6.3
python-dateutil==2.8.0
pytz==2019.1
requests==2.22.0
scipy==1.3.1
six==1.12.0
sqlparse==0.3.0
urllib3==1.25.3
uWSGI==2.0.18
wcwidth==0.1.7
xgboost==0.90
zipp==0.5.1
