/* CSS to be used for the nav bar */

/*  Container structure for the grid elements */
.grid-container {
    display: grid;
    grid-template-columns: 320px 200px 460px 80px auto 60px auto;
    background-color: #27535F;
    align-items: center;
    margin-bottom: 1px;
    margin-top: 1px;
}

/* Begin list CSS for grid elements 1 through 7 */
.grid_item1 {
    grid-column: 1;
    font-size: 20px;
    text-align: center;

}

.grid_item2 {
    grid-column: 2;
    font-size: 20px;
    text-align: center;
}

.grid_item3 {
    grid-column: 3;
    font-size: 20px;
    text-align: center;
}

.grid_item4 {
    grid-column: 4;
    font-size: 20px;
    text-align: center;
}

.grid_item5 {
    grid-column: 5;
    font-size: 20px;
    text-align: center;
}

.grid_item6 {
    grid-column: 6;
    font-size: 20px;
    text-align: center;
}

.grid_item7 {
    grid-column: 7;
    font-size: 20px;
    text-align: center;
}

/* End CSS for individual grid elements */

/* START Page Title & Dropdown Section*/
#pageTitle {
    color: whitesmoke;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 26pt;

}

/* CSS for bike station dropdown */
#dropdown {
    margin-left: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    display: inline-flex;
}

/* Text input area font CSS*/
input {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    border-radius: 16px;
    border: none;
    height: 22px;
    width: 260px;
    text-align: center;
    background-color: white;
    padding-top: 5px;
    padding-bottom: 5px;
}

/* START Dublin Bikes Logo*/
#logo {
    height: 60px;
    float: right;
    padding-bottom: 5px;
}

/* END Dublin Bikes Logo*/

/* CSS for svg weather icon */
#weatherIcon {
    height: 75px;
    margin: 0 0 0 0;
    padding-bottom: 7px;
    float: right;

}

/* CSS for text description of weather */
#weatherDescription {
    color: whitesmoke;
    padding: 0;
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
    float: left;
}

/* CSS for dynamic thermometer svg */
#weatherThermometer {
    float: left;
}

/* CSS for text description of current temperature */
#weatherTemp {
    color: whitesmoke;
    padding: 0;
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
    margin: 2px 0 2px 0;
    float: left;
    font-weight: bold;
}

/* Responsive design for defined screen width*/
@media only screen and (min-width : 176px) and (max-width: 730px) {
    .grid-container {
        display: grid;
        grid-template-columns: 100%;
        background-color: #27535F;
        align-items: center;
        margin-bottom: 1px;
        margin-top: 1px;
    }

    .grid_item1 {
        display: inline-block;
        grid-column-start: 1;
        grid-row-start: 2;
    }

    .grid_item2 {
        display: none;
    }

    .grid_item3 {
        display: inline-block;
        grid-column-start: 1;
        grid-row-start: 1;
    }

    .grid_item4 {
        display: none;
    }

    .grid_item5 {
        display: none;
    }

    .grid_item6 {
        display: none;
    }

    .grid_item7 {
        display: none;
    }
}

/* Responsive design for defined screen width*/
@media only screen and (min-width : 730px) and (max-width: 900px) {
    .grid-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        background-color: #27535F;
        align-items: center;
        margin-bottom: 1px;
        margin-top: 1px;
    }

    .grid_item1 {
        display: inline-block;
        grid-column-start: 1;
        grid-row-start: 1;
    }

    .grid_item2 {
        display: none;
    }

    .grid_item3 {
        display: inline-block;
        grid-column-start: 2;
        grid-row-start: 1;
    }

    .grid_item4 {
        display: none;
    }

    .grid_item5 {
        display: none;
    }

    .grid_item6 {
        display: none;
    }

    .grid_item7 {
        display: none;
    }
}

/* Responsive design for defined screen width*/
@media only screen and (min-width : 901px) and (max-width: 1099px) {

    .grid-container {
        display: grid;
        grid-template-columns: 1fr 120px 1fr;
        background-color: #27535F;
        align-items: center;
        margin-bottom: 1px;
        margin-top: 1px;
    }

    .grid_item1 {
        display: inline-block;
    }

    .grid_item2 {
        display: inline-block;
    }

    .grid_item3 {
        display: inline-block;
    }

    .grid_item4 {
        display: none;
    }

    .grid_item5 {
        display: none;
    }

    .grid_item6 {
        display: none;
    }

    .grid_item7 {
        display: none;

    }
}

/* Responsive design for defined screen width*/
@media only screen and (min-width : 1100px) and (max-width: 1150px) {

    .grid-container {
        display: grid;
        grid-template-columns: 300px 100px 450px auto auto;
        background-color: #27535F;
        align-items: center;
        margin-bottom: 1px;
        margin-top: 1px;
    }

    .grid_item1 {
        display: inline-block;
    }

    .grid_item2 {
        display: inline-block;
    }

    .grid_item3 {
        display: inline-block;
    }

    .grid_item4 {
        display: inline-block;
    }

    .grid_item5 {
        display: inline-block;
    }

    .grid_item6 {
        display: none;
    }

    .grid_item7 {
        display: none;
    }
}

/* Responsive design for defined screen width*/
@media only screen and (min-width : 1150px) and (max-width: 1340px) {

    .grid-container {
        display: grid;
        grid-template-columns: 300px 100px 450px auto auto auto;
        background-color: #27535F;
        align-items: center;
        margin-bottom: 1px;
        margin-top: 1px;
    }

    .grid_item1 {
        display: inline-block;
    }

    .grid_item2 {
        display: inline-block;
    }

    .grid_item3 {
        display: inline-block;
    }

    .grid_item4 {
        display: inline-block;
    }

    .grid_item5 {
        display: inline-block;
    }

    .grid_item6 {
        display: none;
    }

    .grid_item7 {
        display: inline-block;
    }
}
