.page_container{
    height: auto;
}
#map {
    height: 100%;
}
 html, body {
height: 100%;
margin: 0;
padding: 0;
}
       html, body {
height: 100%;
margin: 0;
padding: 0;
}
#right-panel {
font-family: 'Roboto','sans-serif';
line-height: 30px;
padding-left: 10px;
}

#right-panel select, #right-panel input {
font-size: 15px;
}

#right-panel select {
width: 100%;
}

#right-panel i {
font-size: 12px;
}
#right-panel {
  height: 100%;
  float: right;
  width: 390px;
  overflow: auto;
  display:inline;
}

@media print {
    #map {
      height: 500px;
      margin: 0;
    }
    #right-panel {
      float: none;
      width: auto;
    }
}
#right-panel {
    font-family: 'Roboto','sans-serif';
    line-height: 30px;
    padding-left: 10px;
}

#right-panel select, #right-panel input {
    font-size: 15px;
}

#right-panel select {
    width: 100%;
}

#right-panel i {
    font-size: 12px;
}
#right-panel {
  height: 100%;
  float: right;
  width: 390px;
  overflow: auto;
  display:inline;
}

@media print {
    #map {
      height: 500px;
      margin: 0;
    }
    #right-panel {
      float: none;
      width: auto;
    }
}
.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: rgba(2, 4, 2, 0.8);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}


.sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 15px;
    color: #818181;
    display: block;
    transition: 0.3s;
    width:400px;

}

.sidebar a:hover {
    color: #f1f1f1;
}

.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: rgba(2, 4, 2, 0.8);
    color: white;
    padding: 10px 15px;
    border: none;
}

.openbtn:hover {
    background-color: rgba(2, 4, 2, 0.8);
}

#main {
    transition: margin-left .5s;
    padding: 16px;
}

.topnav input[type=text] {
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
    width: 140px;
    height: 20px;
}

.topnav .login-container button {
    float: right;
    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 16px;
    background-color: #555;
    color: white;
    font-size: 17px;
    border: none;
    cursor: pointer;

}

.openbtn {
    background-color: #61D3E8;
    border: none;
    color: white;
    padding: 3px 32px;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 12px 20px;
    cursor: pointer;
}