<!DOCTYPE html>
<html lang="en">

<head>
    <script src="https://cdn.pubnub.com/sdk/javascript/pubnub.4.19.0.min.js"></script>
        {% load staticfiles %}
        <link rel="stylesheet" type="text/css" href="{% static "map/navbar.css" %}">

        <title>Simple Map</title>
        <meta name="viewport" content="initial-scale=1.0">
        <meta charset="utf-8">
        <style>
            /* Always set the map height explicitly to define the size of the div
             * element that contains the map. */
            #map {
                height: 90%;
            }

            /* Optional: Makes the sample page fill the window. */
            html, body {
                height: 90%;
                margin: 0;
                padding: 0;
            }
        </style>
    </head>

    <body>
        {% load staticfiles %}
        <script src="{% static "map/getWeather.js" %}" type="text/javascript"></script>

        <script>
            var weather_icons = "{% static 'map/images/weather_icons/'%}";
        </script>

        {#         Weather Container#}
        <div class="grid-container">
            <div class="grid_item4"><img id="weatherIcon" class="svg"></div>
            <div class="grid_item5"><p id="weatherDescription"><p/></div>
            <div class="grid_item6"><img id="weatherThermometer" class="svg"></div>
            <div class="grid_item7"><p id="weatherTemp"><p/></div>
        </div>

        <script type="text/javascript">
            getWeather({{ temp }}, "{{ description }}", "{{ icon }}");
        </script>

        <div id="map"></div>

        <script>

        var image = "";
        window.lat = 53.3498;
        window.lng = -6.2603;

        function getLocation() {
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(updatePosition);
            }
            return null;
        };

        function updatePosition(position) {
            if (position) {
                window.lat = position.coords.latitude;
                window.lng = position.coords.longitude;
            }
        }

        setInterval(function () {
            updatePosition(getLocation());
        }, 10000);

        function currentLocation() {
            return {lat: window.lat, lng: window.lng};
        };

        var map;
        var mark;

        function circlePoint(time) {
            var radius = 0.01;
            var x = Math.cos(time) * radius;
            var y = Math.sin(time) * radius;
            return {lat: window.lat + y, lng: window.lng + x};
        }

        var initialize = function () {

            map = new google.maps.Map(document.getElementById('map'), {
                center: {lat: lat, lng: lng},
                zoom: 12,
            });
            mark = new google.maps.Marker({position: {lat: lat, lng: lng}, map: map});
            var markers = [];
            {%  for bus_stop in stops_info %}

                var latLng = {lat:{{ bus_stop.stop_lat}}, lng:{{bus_stop.stop_lon }}};
                var marker = new google.maps.Marker({
                    position: latLng,
                    map: map,
                });
                marker.content = '<div id="stop_name">{{bus_stop.stop_name}}</div>';;
                var infoWindow = new google.maps.InfoWindow();
                google.maps.event.addListener(marker, 'click', function () {
                    infoWindow.setContent(this.content);
                    infoWindow.open(this.getMap(), this);
                });
                markers.push(marker);

            {%  endfor %}

            var markerCluster = new MarkerClusterer(map, markers,
                {imagePath: 'https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/m'});

            window.initialize = initialize;
            var toggle = true;
            var redraw = function (payload) {
                lat = payload.message.lat;
                lng = payload.message.lng;

                mark.setPosition({lat: lat, lng: lng, alt: 0});
                if (toggle) {
                    map.setCenter({lat: lat, lng: lng, alt: 0});
                    map.setZoom(16);
                    toggle = false;
                }
            };

            var pnChannel = "map2-channel";

            var pubnub = new PubNub({
                publishKey: 'pub-c-180f8ae2-5a29-43b3-88a3-c550c9d1352c',
                subscribeKey: 'sub-c-165dd5b0-9d91-11e9-b7bc-46e9b2e3ba6e'
            });

            pubnub.subscribe({channels: [pnChannel]});
            pubnub.addListener({message: redraw});

            setInterval(function () {
                pubnub.publish({channel: pnChannel, message: currentLocation()});
            }, 5000);
        }
    </script>
    <script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js">
    </script>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBE5V4zf8b_qLA-NnLKK0WzDizc0sFr62M&callback=initialize"></script>
    </body>
</html>