<!DOCTYPE html>
<html lang="en">
<head>
    {#        Live Geolocation API Connection#}
    <script src="https://cdn.pubnub.com/sdk/javascript/pubnub.4.19.0.min.js"></script>

    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static "map/navbar.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "map/page.css" %}">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <title>Dublin Bus - Map</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta charset="utf-8">

</head>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<script>
    function openNav() {
        document.getElementById("mySidebar").style.width = "450px";
    }

    function closeNav() {
        document.getElementById("mySidebar").style.width = "0";
    }

</script>
    <nav>
        <form action="Getinput" method="get">
            Origin: <input  type="text" name="input_route_origin" id="input_route_origin">
            Destination: <input type="text" name="input_route_destination" id="input_route_destination">
            <input type="button" id="route_submit" value="Search">
        </form>
        <select id="option">
            <option value="now">now</option>
            <option value="departureTime">departureTime</option>
            <option value="arrivalTime">arrivalTime</option>
        </select>
        <select id="date"></select>
        <input type="time" id="time" hidden="hidden">
    </nav>

    <div class="page_container">
        <div id="mySidebar" class="sidebar">
        <a href="#">
            <div id="right-panel">
                <table id="route_options_container"></table>
            </div>
        </a>
    </div>

    <div id="map"></div>
    <!--<script>-->
               <!--var sun = {{ sun|safe }};-->
               <!--console.log(sun);-->
    <!--</script>-->

    <script>

        //Function makes the day
        $(function(){
            var today = new Date().getTime();
        for(var i =0 ;i < 7; i++){
            var day = "day" + i;
            day = today + 1000*i*24*60*60;
            day = new Date(day);
            var maxDateYear = day.getFullYear();
            var maxDateMonth = day.getMonth()+1 < 10 ? "0"+(day.getMonth()+1) : (day.getMonth()+1);
            var maxDateDate = day.getDate() < 10 ? "0"+day.getDate() : day.getDate();
            var showday = maxDateYear+"-"+maxDateMonth+"-"+maxDateDate;
            $("#date").append("<option value="+showday+">"+day+"</option>")
        }
        })

        //Function displays the date and time
        $(function() {
            $("#date").hide();
            $("#time").hide();
            $("#option").change(function () {
                if ($(this).val() == 'departureTime' || $(this).val() == 'arrivalTime'){
                    $("#date").show();
                    $("#time").show();
                }
                if ($(this).val() == 'now'){
                    $("#date").hide();
                    $("#time").hide();
                }
            })
        })

        var model_url = '{% url "run_model" %}';

        var user_marker_image = ""; // Not doing anything yet but to be used for customer user location marker
        var bus_marker_image = ""; // Not doing anything yet but to be used for busstop location marker

        {# centering the the initial map position on dublin#}
        window.lat = 53.3498;
        window.lng = -6.2603;

        {#Test to see if the browser has HTML5 geolocation#}
        function getLocation() {
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(updatePosition);
            }
            return null;
        }

        {#Updates the map position values to users location#}
        function updatePosition(position) {
            if (position) {
                window.lat = position.coords.latitude;
                window.lng = position.coords.longitude;
            }
        }

        {#interval in ms#}
        setInterval(function () {
            updatePosition(getLocation());
        }, 10000);

        function currentLocation() {
            return {lat: window.lat, lng: window.lng};
        }

        var map; // for initialising the maps map object
        var geocoder; // for initialising the maps geocoder object
        var user_location_marker;
        var markers = []; // storing the markers as we create them
        var origin_searchbox;
        var destination_searchbox;
        var directionsRenderer;

        var sunrise;
        var sunset;

        $.ajax({
            url: '{% url "get_sun" %}',
            type: 'POST',
            success:function (data){
                console.log("I GOT SUNSHINE!");
                loadData(data);
            }
        });


        function loadData(data) {
                sunrise = data.sys.sunrise;
                sunset = data.sys.sunset;
                console.log("Sunrise: "+ sunrise);
                console.log("Sunset: "+ sunset);
        }

        var initialize = function () {
            var timetoday = new Date().getTime();
            if(timetoday >= parseInt(sunset+'000') || timetoday <= (parseInt(sunrise+'000'))){
                map = new google.maps.Map(document.getElementById('map'), {
                center: {lat: lat, lng: lng}, //investigate where lat nd lng variables are coming from
                zoom: 12,
                styles: [
                          {elementType: 'geometry', stylers: [{color: '#242f3e'}]},
                          {elementType: 'labels.text.stroke', stylers: [{color: '#242f3e'}]},
                          {elementType: 'labels.text.fill', stylers: [{color: '#746855'}]},
                          {
                            featureType: 'administrative.locality',
                            elementType: 'labels.text.fill',
                            stylers: [{color: '#d59563'}]
                          },
                          {
                            featureType: 'poi',
                            elementType: 'labels.text.fill',
                            stylers: [{color: '#d59563'}]
                          },
                          {
                            featureType: 'poi.park',
                            elementType: 'geometry',
                            stylers: [{color: '#263c3f'}]
                          },
                          {
                            featureType: 'poi.park',
                            elementType: 'labels.text.fill',
                            stylers: [{color: '#6b9a76'}]
                          },
                          {
                            featureType: 'road',
                            elementType: 'geometry',
                            stylers: [{color: '#38414e'}]
                          },
                          {
                            featureType: 'road',
                            elementType: 'geometry.stroke',
                            stylers: [{color: '#212a37'}]
                          },
                          {
                            featureType: 'road',
                            elementType: 'labels.text.fill',
                            stylers: [{color: '#9ca5b3'}]
                          },
                          {
                            featureType: 'road.highway',
                            elementType: 'geometry',
                            stylers: [{color: '#746855'}]
                          },
                          {
                            featureType: 'road.highway',
                            elementType: 'geometry.stroke',
                            stylers: [{color: '#1f2835'}]
                          },
                          {
                            featureType: 'road.highway',
                            elementType: 'labels.text.fill',
                            stylers: [{color: '#f3d19c'}]
                          },
                          {
                            featureType: 'transit',
                            elementType: 'geometry',
                            stylers: [{color: '#2f3948'}]
                          },
                          {
                            featureType: 'transit.station',
                            elementType: 'labels.text.fill',
                            stylers: [{color: '#d59563'}]
                          },
                          {
                            featureType: 'water',
                            elementType: 'geometry',
                            stylers: [{color: '#17263c'}]
                          },
                          {
                            featureType: 'water',
                            elementType: 'labels.text.fill',
                            stylers: [{color: '#515c6d'}]
                          },
                          {
                            featureType: 'water',
                            elementType: 'labels.text.stroke',
                            stylers: [{color: '#17263c'}]
                          }
                        ]
                });
            }
            else{
                map = new google.maps.Map(document.getElementById('map'), {
                center: {lat: lat, lng: lng}, //investigate where lat nd lng variables are coming from
                zoom: 12,
            });}

            // look at changing where this is positioned in script to resolve marker jumping from O'connell street
            user_location_marker = new google.maps.Marker({position: {lat: lat, lng: lng}, map: map});

            {%  for bus_stop in bus_stops %}

                var latLng = {lat:{{ bus_stop.stop_lat}}, lng:{{bus_stop.stop_lng }}};
                var marker = new google.maps.Marker({
                    position: latLng,
                    map: map,
                });

                var infoWindow = new google.maps.InfoWindow();
                google.maps.event.addListener(marker, 'click', function () {
                    var stop_id = '{{bus_stop.stop_id}}';
                    var stop_name = '{{ bus_stop.stop_name }}'
                    AjaxGetRoutes(stop_id, infoWindow, stop_name);
                    infoWindow.open(this.getMap(), this);
                });
                markers.push(marker);

            {%  endfor %}

            var markerCluster = new MarkerClusterer(map, markers,
                {imagePath: 'https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/m'});

            window.initialize = initialize;
            var toggle = true;
            var redraw = function (payload) {
                lat = payload.message.lat;
                lng = payload.message.lng;

                user_location_marker.setPosition({lat: lat, lng: lng, alt: 0});
                if (toggle) {
                    map.setCenter({lat: lat, lng: lng, alt: 0});
                    map.setZoom(16);
                    toggle = false;
                }
            };

            var pnChannel = "map2-channel";

            var pubnub = new PubNub({
                publishKey: 'pub-c-180f8ae2-5a29-43b3-88a3-c550c9d1352c',
                subscribeKey: 'sub-c-165dd5b0-9d91-11e9-b7bc-46e9b2e3ba6e'
            });

            pubnub.subscribe({channels: [pnChannel]});
            pubnub.addListener({message: redraw});

            setInterval(function () {
                pubnub.publish({channel: pnChannel, message: currentLocation()});
            }, 5000);

            geocoder = new google.maps.Geocoder();


            origin_searchbox = document.getElementById('input_route_origin');
            destination_searchbox = document.getElementById('input_route_destination');
            var options = {
                types: ['geocode'],
                componentRestrictions: {country: 'ie'}
            };

            autocomplete = new google.maps.places.Autocomplete(origin_searchbox, options);
            autocomplete = new google.maps.places.Autocomplete(destination_searchbox, options);

        };

        /* Action after pressing the submit button. */
        document.getElementById('route_submit').addEventListener('click', function () {
            $(function(){
                if(($("#option").val() == 'departureTime' || $("#option").val() == 'arrivalTime') && ($("#time").val() == "" || $("#date").val()  == "")){
                    alert('Date and Time is required!');
                }
                else{
                    geocodeAddress();
                    openNav();
                }
            })
        });

        /* Function that performs geodecoding. */
        function geocodeAddress() {

            geocoder.geocode({'address': origin_searchbox.value},
                function (res_origin, status) {
                    /* If place is legitimate and able to get GPS co-ordinates. */
                    if (status === 'OK') {
                        /* Set center based upon the lat and longitiude on final map */
                        map.setCenter(res_origin[0].geometry.location);

                        /* Status of response is used for checking if
                        the respose from geocoding is valid or not (N.B. This is not a formal definition). */
                        geocoder.geocode({'address': destination_searchbox.value}, function (res_dest, status) {

                            if (status === 'OK') {
                                mapLocation(
                                    res_origin[0].geometry.location.lat(),
                                    res_origin[0].geometry.location.lng(),
                                    res_dest[0].geometry.location.lat(),
                                    res_dest[0].geometry.location.lng()
                                );
                            } else {
                                alert('Geocode was not successful for the following reason: ' + status);
                            }

                        });
                    } else {
                        alert('Geocode was not successful for the following reason: ' + status);
                    }
                }
            );
        }


        /* Displaying the actual route on map */
        function mapLocation(origin_lat, origin_lng, dest_lat, dest_lng) {
            var origin = new google.maps.LatLng(origin_lat, origin_lng);
            var destination = new google.maps.LatLng(dest_lat, dest_lng);


            if (option.value == 'now'){
                var departureTime = new Date();
            }
            else if (option.value == 'departureTime') {
                var departureTime = document.getElementById("date").value + " " + document.getElementById("time").value;
                departureTime = new Date(Date.parse(departureTime));
            }
             else if (option.value == 'arrivalTime') {
                var arrivalTime = document.getElementById("date").value + " " + document.getElementById("time").value;
                arrivalTime = new Date(Date.parse(arrivalTime));
            }

            if(directionsRenderer){
                directionsRenderer.setMap(null);
            }
            var directionsService = new google.maps.DirectionsService();

            directionsRenderer = new google.maps.DirectionsRenderer();

            directionsRenderer.setMap(map);
            calculateAndDisplayRoute(directionsService, directionsRenderer);

            function calculateAndDisplayRoute(directionsService, directionsRenderer) {
                directionsService.route({
                    origin: origin,
                    destination: destination,
                    travelMode: 'TRANSIT',
                    provideRouteAlternatives: true,
                    transitOptions: {
                        arrivalTime: arrivalTime,
                        departureTime: departureTime,
                        modes: ['BUS'],
                        routingPreference: 'FEWER_TRANSFERS'
                    },
                    unitSystem: google.maps.UnitSystem.IMPERIAL
                }, function (response, status) {
                    if (status === 'OK') {
                        console.log(response);
                        directionsRenderer.setDirections(response);

                        console.log(response.routes.length);
                        let route_options_table = document.getElementById('route_options_container');
                        route_options_table.innerHTML = "";
                        var model_journeys = [];
                        for (i = 0; i < response.routes.length; i++) {
                            console.log("Journey Number: " + i);
                            let journey = {};
                            let new_route_row = route_options_table.insertRow(-1);
                            new_route_row.id = i;
                            new_route_row.onclick = function () {
                                console.log(this.id);
                                directionsRenderer.setRouteIndex(parseInt(this.id));
                            };
                            let steps_counter = 0;
                            let steps_len = response.routes[i].legs[0].steps.length;
                            for (let step of response.routes[i].legs[0].steps) {
                                let newCell = new_route_row.insertCell(-1);
                                if(step.travel_mode == "WALKING"){
                                    newCell.innerHTML = '<i class="material-icons" style="font-size:30px;color:white">directions_walk</i>';
                                }
                                else if(step.travel_mode == "TRANSIT"){
                                    let route_dict = {
                                        "Origin_Lat": step.transit.departure_stop.location.lat(),
                                        "Origin_Lon": step.transit.departure_stop.location.lng(),
                                        "Dest_Lat": step.transit.arrival_stop.location.lat(),
                                        "Dest_Lon": step.transit.arrival_stop.location.lng(),
                                        "Origin": step.transit.arrival_stop.name,
                                        "Destination": step.transit.headsign,
                                        "Departure_Datetime": new Date(step.transit.departure_time.value)
                                    };
                                    journey[step.transit.line.short_name] = route_dict;

                                    console.log("Origin_Lat: " + step.transit.departure_stop.location.lat());
                                    console.log("Origin_Lon: " + step.transit.departure_stop.location.lng());
                                    console.log("Dest_Lat: " + step.transit.arrival_stop.location.lat());
                                    console.log("Dest_Lon: " + step.transit.arrival_stop.location.lng());
                                    console.log("Bus_Headsign: " + step.transit.headsign);
                                    console.log("Arrival Location: " + step.transit.arrival_stop.name);
                                    console.log("Bus_Route: " + step.transit.line.short_name);
                                    console.log("Departure_Datetime: " + new Date(step.transit.departure_time.value));
                                    console.log();
                                    newCell.innerHTML = '<i class="material-icons" style="font-size:30px;color:white">directions_bus</i>';
                                    let newCell2 = new_route_row.insertCell(-1);
                                    let current_route = step.transit.line.short_name;
                                    newCell2.innerHTML = '<p>'+current_route+'</p>';
                                }
                                if (steps_counter < steps_len - 1){
                                    let nextStepCell = new_route_row.insertCell(-1);
                                    nextStepCell.innerHTML = '<i class="material-icons" style="font-size:30px;color:white">navigate_next</i>';
                                }
                                steps_counter += 1;
                            }
                            model_journeys.push(journey);
                            console.log("****************");
                        }
                        console.log(model_journeys);
                        Ajax_Model(model_journeys);
                    } else {
                        window.alert('Directions request failed due to ' + status);
                    }
                });

            }
        }


    </script>

    <script>
        function AjaxGetRoutes(stop_id, infowindow, stop_name) {
            console.log(stop_id);
            $.ajax({
                type: "POST",
                data: {'stop_id': stop_id},
                url: '{% url "get_routes" %}',

                success: function (routes, status) {
                    {#Do unit test to make sure the right format is being returned and the data is correct#}
                    console.log(routes);
                    console.log(status);

                    {#Refactor content string to stop_info_content or something like this#}
                    var stop_info_content = '<div id="stop_name">' + stop_name + '</div>';
                    stop_info_content += '<div><ul>';
                    var route_list = []

                    {#Record performance for this loop execution, see is there a better way to do it#}
                    console.time('Time');
                    //var start = new Date().getTime();
                    for (route in routes) {
                        var route_number = routes[route].fields.bus_numbers; //remember route is a string, not a number "0", "1", etc.
                        if (!route_list.includes(route_number)) {
                            stop_info_content += '<li>' + route_number + '</li>';
                            route_list.push(route_number);
                        }
                    }
                    console.timeEnd('Time');
                    //var end = new Date().getTime();
                    //var time = end - start;
                    //console.log('Execution time: ' + time);

                    stop_info_content += '</ul></div>';

                    infowindow.setContent(stop_info_content);
                },
                error: function (jqXHR) {
                    console.log(jqXHR);
                    {#    Might be worth displaying this to the user in meaningful way #}
                }
            });
        }
    </script>
</div>

{% load staticfiles %}
<script src="{% static "map/js/ajax_model.js" %}"></script>

<script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDCdOS87zrKfHICHXYGsrcQA8WX9gG3o1I&callback=initialize&libraries=places"></script>
</body>
</html>