html, body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    font-size: 1rem;
}

#map_container{
    position: relative;
    height: 50vh;
    margin: 0;
    border: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

#info_section{
    position: relative;
    height: 40vh;
    width: 100vw;
    overflow-y: scroll;
}

.mobile-app-icon-bar {
    position:absolute;
    bottom:0;
    width:100%;
    height:10vh;   /* Height of the footer */
    margin: 0;
    border: 0;
    padding: 0;
}

/* The snackbar - position it at the bottom and in the middle of the screen */
#save_favourites, #not_save_favourites, #key_delete, #key_not_exist, #valid_address, #key_exists, #provide_key,
#valid_time, #enter_destination{
  visibility: hidden; /* Hidden by default. Visible on click */
  min-width: 250px; /* Set a default minimum width */
  max-width: 250px; /* Set a default minimum width */
  margin-left: -125px; /* Divide value of min-width by 2 */
  background-color: #333; /* Black background color */
  color: #fff; /* White text color */
  text-align: center; /* Centered text */
  border-radius: 2px; /* Rounded borders */
  padding: 16px; /* Padding */
  position: fixed; /* Sit on top of the screen */
  z-index: 1; /* Add a z-index if needed */
  left: 45%; /* Center the snackbar */
  top: 20px; /* 30px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#save_favourites.show, #not_save_favourites.show, #key_delete.show, #key_not_exist.show, #valid_address.show,
#provide_key.show, #valid_time.show, #enter_destination.show{
  visibility: visible; /* Show the snackbar */
  /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
  However, delay the fade out process for 2.5 seconds */
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
  from {top: 0; opacity: 0;}
  to {top: 20px; opacity: 1;}
}

@keyframes fadein {
  from {top: 0; opacity: 0;}
  to {top: 20px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {top: 20px; opacity: 1;}
  to {top: 0; opacity: 0;}
}

@keyframes fadeout {
  from {top: 20px; opacity: 1;}
  to {top: 0; opacity: 0;}
}



/* Test work nav bar*/
/*Taken from https://codepen.io/john-sexton/pen/oeGGag*/
body {
  padding: 10px;
  padding-bottom: 50px;
}
h1 {
  margin-bottom: 2000px;
}
.mobile-bottom-nav {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  will-change: transform;
  transform: translateZ(0);
  display: flex;
  height: 50px;
  box-shadow: 0 -2px 5px -2px #333;
  background-color: #fff;
}
.mobile-bottom-nav__item {
  flex-grow: 1;
  text-align: center;
  font-size: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.mobile-bottom-nav__item--active {
  color: red;
}
.mobile-bottom-nav__item-content {
  display: flex;
  flex-direction: column;
}
