
.mobile-bottom-nav__item a {
  padding: 1.25rem;
  cursor: pointer;
}


.mobile-bottom-nav__item img {
    opacity: 0.3;
    font-size: 5rem;
    min-height: 5vh;
    max-height: 8vh;
}

a:hover img{
    opacity: 1;
    /*filter: invert(48%) sepia(13%) saturate(3207%) hue-rotate(130deg) brightness(95%) contrast(80%);*/
}


.active_view img{
    opacity: 1;
    /*filter: invert(48%) sepia(13%) saturate(3207%) hue-rotate(130deg) brightness(95%) contrast(80%);*/
}