.mobile-bottom-nav__item a {
  cursor: pointer;
}


.mobile-bottom-nav__item img {
    opacity: 0.3;
    font-size: 5rem;
    min-height: 5vh;
    max-height: 8vh;
}

a:hover img{
    opacity: 1;
}


.active_view img{
    opacity: 1;
}
