/* CSS to be used for the nav bar */
.page_container{
    width: 100vw;
    height: 100vh;
}

nav{
    width: 100vw;
    height: 10vh;
    text-align: center;
}

#map{
    overflow: hidden;
    padding-bottom: 90vh;
    position: relative;
}
