#stop_info_view_section{
    width: 100vw;
}

.tabs-title {
	float:none !important;
	display:inline-block;
    width: 49.4vw;
    padding: 0;
}

.tabs-title > a{
    padding: 0;
}

.tabs{
    text-align:center;
    align-content: center;
    /*border: 0;*/
}

#example-tabs{
    border: 0;
}


.tabs-content{
    height: 100%;
    overflow-y: scroll;
}

#search_stop_view{
    width: 90vw;
    padding-left: 5vw;
}


